<div class="content-wrapper">
  <div class="content-block">
    <% (1..10).each do |i| %>
    <div class="content">
      <div class="user-about">
        <div class="image">
          <%= image_tag "france.jpg" %>
        </div>
        <div class="profile">
          <div class="name-history">
        <div class="name">
          名前
        </div>
        <div class="history">
          居住(マニア)歴：1年
        </div>
      </div>
      <div class="purpose">
        もっと勉強したいから。
      </div>
    </div>  
  </div>
      <div class="text">
        <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプストサンプルテキストサンプルテキストサンプルテキスト</p>
        <p>サンプルテキス２２２２２２２２２トサンプルテキス２２２２２２２２２トサンプルテキス２２２２２２２２２トサンプルテキス２２２２２２２２２ト</p>
      </div>
        <div class="action-menu">
        <div class="like">
      </div>
      <div class="comment">
      </div>
      </div>
    </div>
  <% end %>
</div>
<div class="sidebar">
  <div class="box"></div>
  <div class="box"></div>
  </div>
</div>